<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> 
    <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
  </head>

  <body>
    <main class="main" id="main">
        @@MAIN@@
    </div>
  </body>
</html>
